/*begin css for project 2*/
body {
   background: lightblue;
}
header {
   background: orange;
}/*begin nav*/
nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   overflow: hidden;
   text-align: center; 
}
nav ul li { 
   display: inline-block;
    list-style-type: none;
}
nav ul li a {
   display: block;
   background-color: black;
   color: green;
   font-weight: bold;
   text-decoration: none;
   width: 100px;
   padding: 10px 0px 8px 0px;
   border-radius: 4px;
}
nav ul li a:hover {
   background-color: blue;
}
/**end nav**/
/*begin me*/
#me h1{
   color: violet;
   width: 1400px;
   border: 0;
   padding: 0; 
   margin: 30%;
   margin-top: 4%;
   margin-bottom: 1%;
}
.phoneandemail p {
   width: 150px;
   margin: 35%;
   margin-top: 1%;
   margin-bottom: 1%;
}
/**end me**/
/*begin myexperience*/
#myexperience h1{
   color: blue;
   font-weight: bold;
   margin: 30%;
   width: 1400px;
   margin-top: 1%;
   margin-bottom: 1%;
}
#myexperience h2 {
   color: blue; 
   width: 700px;
   border: 10px;
   padding: 10px; 
   margin: 20px; 
}
#myexperience h3 {
    color: blue;
    width: 700px;
    border: 10px;
    padding: 10px;
    margin: 20px;
}
#myexperience p {
   margin: 25px;
   width: 700px;
   padding: 10px;
   border: 10px;
}
   /**end myexperience**/
/*begin professionalexperience*/
#professionalexperience h2 {
   color: darkgoldenrod; 
   width: 800px;
   border: 10px;
   padding: 10px; 
   margin: 35px; 
}
#professionalexperience h3 {
    color: goldenrod;
    width: 800px;
    border: 10px;
    padding: 10px;
    margin: 25px;
}
#professionalexperience p {
   margin: 30px;
   width: 700px;
   padding: 10px;
   border: 10px;
}
/**end professionalexperience**/
/*begin management*/
#management h2 {
   color: Purple; 
   width: 900px;
   border: 10px;
   padding: 10px; 
   margin: 40px; 
}
#management p {
   margin: 35px;
   width: 700px;
   padding: 10px;
   border: 10px;
}
/*end management*/
/*begin educationandtraining*/
#educationandtraining h2 {
   color: lime; 
   width: 1000px;
   border: 10px;
   padding: 10px; 
   margin: 45px;
}
/**end educationandtraining**/
/*begin css for airborne*/
#airborne h1{
   font-family: "Georgia", Georgia, serif;
   font-size: 50px;
   color: #8B0000; 
   margin: 25%;
   margin-top: 1%;
   margin-bottom: 1%;
   width: 1400px;
}
.myyears p {
   font-style: italic;
   color: maroon;
   margin: 5%;
   margin-top: 3%;
   margin-bottom: 3%;
}
.york {
   float: left; 
   width: 20%;
   height: auto;
   margin: 3%;
}
.patch {
   float: right;
   width: 20%;
   height: auto;
   margin: 3%;
}
/**end airborne**/
/* begin soldier*/
#soldier h2 {
   margin: 25%;
   width: 1400px;
   margin-top: 30%;
   margin-bottom: 5%;
}.patton p {
   font-style: italic;
   color: green;
   margin: 5%;
   margin-top: 3%;
   margin-bottom: 3%;
}
.lighting {
   width: 20%;
   margin: 4%;
   height: auto;
   float: left;
}
.tropic {
   float: right;
   margin: 4%;
}
/**end soldier**/
/*begin interests*/
#interests h1 {
   margin: 42%;
   margin-top: 5%;
   margin-bottom: 3%; 
   width: 1800px;
}
/*end interests*/
/*begin motorcycles*/
#motorcycles h2 {
   font-family: "Times New Roman", Georgia, serif; 
   margin: 42%;
   margin-bottom: 5%;

   margin-top: 5%;
}
#motorcycles p {
   width: 1200px;
}
.sporty {
   float: left;
   width: 15%;
   height: 15%;
   margin: 3%;
}
.ultra {
   float: right;
   margin: 3%;
   margin-top: 2%
}
.vets {
   margin: 22%;
   width: 35%;
   margin-top: 1%;
   margin-bottom: 10%;
}
/**end motorcycle**/
/*begin history*/
#history h2 {
   margin: 30%;
   margin-bottom: 3%;
   margin-top: 4%;      
}
#history p {
   width: 1500px;
   margin: 10%;
   margin-top: 3%;
   margin-bottom: 2%;
}
.kiss {
   margin: 7%;
   width: 20%;
   float: left;
}
.wethepeople {
   margin: 7%;
   width: 20%;
   float: right;
}
/*end history*/
/*begin fortbragg*/
#fortbragg h1 {
   margin:30px;
   margin-top: 3%;
   margin-bottom: 4%; 
}
#fortbragg p {
   width: 1000px;
   margin: 10%;
   margin-top: 3%;
   margin-bottom: 2%;
}
#map {
  height: 300px;
  width: 90%;
  margin: 75px;
}
.video-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   margin: 10px;
   overflow: hidden;
}
.video-container iframe, video-container object, .video-container embed {
   position: absolute;
   top: 0;
   left:  0;
   width: 50%;
   height: 50%;
}
.video-container2 {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   margin: 10px;
   overflow: hidden;
}
.video-container2 iframe, video-container object, .video-container2 embed {
   position: absolute;
   top: 0;
   left:  0;
   width: 50%;
   height: 50%;
}
/*end fortbragg*/
